*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	text-align: center;
	background-color:#EFEFEF;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.wrapper{
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

.app {
	width: 300vw;

	transition: 0.4s;
}


/*-----------------------
	Modes
-----------------------*/

.switch-clocks{
	transition:background-color 0.4s;
	cursor:default;
}

html.alarm-mode .switch-clocks{
	background-color: #E91E63;
}

html.alarm-mode header .alarm,
html.stopwatch-mode header .stopwatch,
html.timer-mode header .timer{
	background-color:rgba(255,255,255,0.2);
	pointer-events:none;
}

html.stopwatch-mode .switch-clocks{
	background-color: #607D8B;
}

html.timer-mode .switch-clocks{
	background-color: #00ACC1;
}

.switch-clocks a{
	color:#fff;
	padding:30px 40px;
}

html.alarm-mode .app{
	transform: translate(0);
	-webkit-transform: translate(0);
}

html.stopwatch-mode .app{
	transform: translate(-100vw);
	-webkit-transform: translate(-100vw);
}

html.timer-mode .app{
	transform: translate(-200vw);
	-webkit-transform: translate(-200vw);
}


/*-----------------------
	Clocks General
-----------------------*/

.container {
	width: 100%;
}

form{
	width: 100%;
	height: 85px;
	padding: 10px;
	margin: 50px auto;
	color: #0277BD;
	border-radius: 2px;

}

form a{
	margin: 0 5px;
}

.control{
	display: inline-block;
	width: 130px;
	vertical-align: middle;
}

.input-field{
	display: inline-block;
	padding-right: 20px;
}

.checkbox{
	padding-left: 20px;
}

.clock {
	font-size: 50px;
	/*transition: all 0.4s ease-in, box-shadow 0.2s;*/
}

.wallboardclock {
	font-size: 125px;
}

.fullwidth .wallboardclock {
	font-size: 250px;
}

.badge-wallboard{
	font-size: 20px !important;
}
.wallboard-icons{
	font-size: 40px !important;
}

.clock.inactive {
	color: #e0dfdf;
}

.clock .overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.switch label .lever:after{
	background-color:#fff;
}


/*-----------------------
	Alarm
-----------------------*/

#alarm-input {
	font-size: 26px;
	text-align: center;
}

.switch{
	display: inline-block;
}

/*-----------------------
	Stopwatch
-----------------------*/

.stopwatch form {
	padding: 0;
	line-height: 85px;
}

.stopwatch form a{
	color: #0059bc;
	margin-bottom: 0;
}

.stopwatch .clock{
	max-width: 100%;
	height: 85px;
    line-height: 85px;
}

.stopwatch .wallboardclock {
	height: 100%;
    line-height: 400px;
}

/*-----------------------
	Timer
-----------------------*/

#timer-input {
	font-size: 32px;
	text-align: center;
}

.timer-btn{
	font-size: 32px;
	cursor: pointer;
}

/*-----------------------
	Modals
-----------------------*/

.modal{
	width: 40%;
}

.dismiss-alarm-sounds{
	float:none !important;
}

/*-----------------------
	Responsiveness
-----------------------*/

@media (max-width: 800px){

	.switch-clocks a{
		padding: 20px;
	}

	form{
		height: auto;
		padding: 10px;
		margin: 10px auto;
	}

	.checkbox{
		padding-left: 0;
		display: none;
	}

	.clock{
		font-size: 60px;
		height: 180px;
		line-height: 180px;
		margin-top:20px;
	}

	.stopwatch form a{
		padding: 0 1rem;
	}

	.modal{
		width: 80%;
	}

}
.stopwatch{
	margin-bottom: 15px;
}
.stopwatch a{
    color: #fff;
    margin-top: 10px;
}